  @media  screen and (min-width:900px) {
    .hero-container {
      height: 100vh;
      overflow: hidden;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 1030px) and (min-width: 900px) {
    .hero-image {
      max-width: 380px;
      width: 80%;
      margin-left: 20px; 
    }
  
    .hero-text {
      max-width: 400px; 
      text-align: left; 
    }
  }

  @media screen and (max-width: 900px) {
    .hero-inner {
      flex-direction: column;
      gap: 5px;
    }
  
    .hero-image {
      max-width: 400px;
      width: 50%;
      height: auto;
      margin: 0 auto;
    }

    .hero-image-container {
        padding: 20px;
      }
  }
  
  @media screen and (max-width: 768px) {
    .hero-inner {
      flex-direction: column;
      gap: 10px;
      padding-bottom: 30px;
    }
  
    .hero-image {
      max-width: 400px;
      width: 90%;
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 480px) {
    .hero-inner {
      flex-direction: column;
      gap: 10px;
    }
  
    .hero-image {
      max-width: 350px;
      width: 85%;
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 360px) {
  
    .hero-image-container {
      padding: 20px;
    }
  
    .hero-image {
      max-width: 250px;
      width: 80%;
      height: auto;
      margin: 0 auto;
    }
  }

  /* For medium screens (below 768px) */
  /* @media screen and (max-width: 768px) {
    .btn-primary-min {
      padding: 18px 24px;
      gap: 10px;
      font-size: 15px;
    }
  } */

  /* .custom-small-button {
    background-color: #3CAE5C;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 16px 35px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    cursor: pointer;
  }

  @media (max-width: 680px) {
    .custom-small-button {
      padding: 10px 35px;
      font-size: 16px;
    }
  } */
